{% comment %}
  Renders bundle variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - index: {Integer} Index of picker
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <style>
    select {
      height: fit-content !important;
      min-height: 0 !important;
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
    }
    .select__select_bundle {
      background: transparent;
      border: 0px;
      font-family: var(--font-body-family);
    }
    option {
      font-size: 1.2rem !important;
    }
  </style>
  {% assign picker_type = "dropdown" %}
  <variant-bundle-selects
    id="variant-bundle-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {% assign option = product.options_with_values.first %}
    {% comment %}
    {%- liquid
      assign swatch_count = option.values | map: 'swatch' | compact | size
      assign picker_type = block.settings.picker_type

      if swatch_count > 0 and block.settings.swatch_shape != 'none'
        if block.settings.picker_type == 'dropdown'
          assign picker_type = 'swatch_dropdown'
        else
          assign picker_type = 'swatch'
        endif
      endif
    -%}
    {% endcomment %}
    {%- if picker_type == 'swatch' -%}
      <fieldset class="js bundle-form__input bundle-form__input--swatch">
        <legend class="form__label">
          {{ option.name }}:
          <span data-selected-value>
            {{- option.selected_value -}}
          </span>
        </legend>
        {% render 'product-variant-options',
          product: product,
          option: option,
          block: block,
          picker_type: picker_type
        %}
      </fieldset>
    {%- elsif picker_type == 'button' -%}
      <fieldset class="js bundle-form__input bundle-form__input--pill">
        <legend class="form__label">{{ option.name }}</legend>
        {% render 'product-variant-options',
          product: product,
          option: option,
          block: block,
          picker_type: picker_type
        %}
      </fieldset>
    {%- else -%}
      <div class="bundle-form__input bundle-form__input--dropdown">
        <div class="bundle-select">
          {%- if picker_type == 'swatch_dropdown' -%}
            <span
              data-selected-value
              class="dropdown-swatch"
            >
              {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
            </span>
          {%- endif -%}
          <select
            id="Option-{{ section.id }}-{{ block.id }}-{{ index }}"
            class="select__select_bundle"
            name="options[{{ option.name | escape }}]"
            form="{{ product_form_id }}"
            style = "font-size: 1.2rem;letter-spacing: 0.05rem;"
          >
            {% render 'product-variant-options',
              product: product,
              option: option,
              block: block,
              picker_type: picker_type
            %}
          </select>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
              document.querySelectorAll("select.select__select_bundle").forEach(select => {
                if (select.options.length > 0) {
                  select.selectedIndex = 0;
                  resizeSelect(select);
                }
              });
            });

            document.body.addEventListener("change", (e) => {
                if (e.target.matches("select")) {
                    resizeSelect(e.target)
                }
            })

            function resizeSelect(sel) {
              let tempOption = document.createElement('option');
              tempOption.textContent = sel.selectedOptions[0].textContent;

              let tempSelect = document.createElement('select');
              tempSelect.style.visibility = "hidden";
              tempSelect.style.position = "fixed"
              tempSelect.appendChild(tempOption);
              
              sel.after(tempSelect);
              sel.style.width = `${+tempSelect.clientWidth + 10}px`;
              tempSelect.remove();
            }
          </script>
        </div>
      </div>
    {%- endif -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-bundle-selects>
{%- endunless -%}
